<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href= "/style.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/b7dce091ed.js" crossorigin="anonymous"></script>
    </head>

    <div>
        <div id="header">
            <div id="headerTop">
                <div id="headerTitle" style="float:left">
                    <h1 id="headerTitle_name" onclick="loadHomePage()">SHOPPING CENTER</h1>            
                </div>
                <div class="adminCartSection">
                    <div>
                        <h2>Admin</h2>
                    </div>
                    <div id="headerCart" class="margin">
                        <h2 id="headerCart_name" onclick="getCartItems()" style="cursor: pointer"><i class="fas fa-shopping-cart"></i></h2>
                    </div>
                </div>     
                <div style="clear:both;"></div>           
            </div>            
            <div id="searchBar">
                <input type="text" placeholder="search..." name="productName" class="form-control">
                <button onclick="searchText(this)" class="btn btn-primary">Search</button>     
            </div>                   
        </div>
        
        <div id="contentBody">      
            <div id="cartProducts" onclick="clickHandler">            
                <div id="">            
                    <ul>        
                        <% productInfo.forEach(function(product, i) { %>                             
                        <form method="POST" action="/orders/purchaseCartItems">  
                            <li onClick="showProductDetail('<%= JSON.stringify({product_id: product.product_id, category_id: product.category_id}) %>')">
                                <h2><%- product.icon %></h2>
                                <p><%= product.product_name %></p>
                                <p><%= 'Price - ' + product.total_price %></p> 
                                <p><%= 'Items in cart - ' + product.total_items %></p>   
                                <input type="hidden" name="product_id" value=<%= product.product_id %>>     
                                <button  type="submit" class="btn btn-primary">Purchase Item</button>                   
                            </li>
                        </form>                                                                                         
                        <% }); %>                    
                    </ul>                          

            </div>
        </div>
    
        <div id="footer">
            
        </div>   
    </div>

    <script>
        function showProductDetail(info) {  
            let productInfo = JSON.parse(info);
            console.log('showProductDetail');
            console.log(productInfo.product_id, productInfo.category_id);
            window.location.href = window.location.origin + '/products/getProductInfo/' + productInfo.product_id + ',' + productInfo.category_id ;
        }

        function loadHomePage() {
            window.location.href = window.location.origin
        }

        function sortBy(event, category_id) {
            window.location.href = window.location.origin + '/products/getProductsByOrder/' + category_id + ',' + event.id;
        }

        function searchText(event) {
            let search = event.parentElement.children[0].value;
            window.location.href = window.location.origin + '/products/search/' + search;            
        }

        function getCartItems() {
            window.location.href = window.location.origin + '/orders'            
        }

        function purchaseItem(productId) {
            debugger;
            window.location.href = window.location.origin + '/orders/purchaseCartItems/' + productId            
        }
    </script>
</html>